export('surface')

export('coco')
S3method('plot', 'coco')

export('surface_coco')

# general
importFrom('methods', 'as')
importFrom('stats', 'fisher.test', 'p.adjust', 'na.omit')  ## we use na.omit from data.table but this stops check complaining
importFrom('utils', 'packageName',  'packageVersion')
importFrom('graphics', 'par', 'rect', 'strwidth', 'axis', 'image', 'abline', 'arrows', 'plot', 'points')
importFrom('grDevices', 'colorRampPalette')

import('data.table')
importFrom('RColorBrewer', 'brewer.pal')
importFrom('rlist', 'list.merge')
